@model Courses_MVC.Models.Comment
@{
    ViewData["Title"] = "Chi tiết bình luận " ;

}

<main class="main">
    <div class="sidebar-admin">
        <partial name="_NavBar" />
    </div>
    <section class="section-add_course">
        <partial name="_AlertMessage" />
        <h1 class="text-center mt-3">@ViewData["Title"] @Model.AppUser.UserName</h1>
        <div class="ml-5">
            <div class="">
                <hr />

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.cmtId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.cmtId)
                    </dd>
                    <dt class="col-sm-2">
                        Tên học viên
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AppUser.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Course.courseName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.content)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.content)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.evaluate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.evaluate)
                    </dd>
                </dl>
            </div>
            <div class="option-detail">

                <div class="back-admin">
                    <a asp-action="DanhSachBinhLuan">Danh sách bình luận</a>
                </div>
                <div class="main-option">
                    <a asp-action="CapNhatBinhLuan" asp-route-id="@Model.cmtId">Chỉnh sửa</a>
                </div>

            </div>
        </div>
    </section>
</main>



<script>
    const active_lienhe = document.querySelector('#active--binhluan')

    active_lienhe.classList.add('active--css')
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


