@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Courses_MVC.Models.Course

@{
    ViewData["Title"] = "Xóa khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
    <div class="sidebar-admin">
        <partial name="_NavBar" />
    </div>
    <section class="section-add_course">
        <partial name="_AlertMessage" />
        <h1 class="text-center mt-3">Thêm khóa học</h1>
        <div class="ml-5">
            <div>
                <h4>Course</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.courseName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.courseName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.discription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.discription)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.originalPrice)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.originalPrice)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.imgCourse)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.imgCourse)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.totalTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.totalTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.totalStudent)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.totalStudent)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Topic)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Topic.topicName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Discount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Discount.discription)
                    </dd>
                </dl>

                <form asp-action="DeleteCourse">
                    <input type="hidden" asp-for="courseId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    const active_lienhe = document.querySelector('#active--khoahoc')
    active_lienhe.classList.add('active--css')
    /*document.querySelector('#active--khoahoc').classList.remove('active--css')*/
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}