@model IEnumerable<Courses_MVC.Models.Exercise>

@{
    ViewData["Title"] = "Danh sách bài luyện tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="sidebar-admin">
        <partial name="_NavBar" />
    </div>
    <section class="section-courseadmin">
        <partial name="_AlertMessage" />
        <h1 class="text-center mt-3">@ViewData["Title"]</h1>
        <p class="count--css">Số lượng khóa học: @ViewBag.count</p>
        <div class="search-create">
            <form action="/Exercises/listExerciseAdmin" method="post">
                <div class="form-inline ">
                    <label class="control-label " style="margin-right: 5px;">Tìm kiếm</label>
                    <input type="text" name="searchString" class="form-control col-md-6">
                    <input type="submit" class="btn btn-info" name="submit" value="search">
                </div>
            </form>
            <div>
                <a asp-controller="Exercises" asp-action="CreateExercise" class="btn btn-outline-success"><i class="fas fa-plus"></i>Thêm</a>
            </div>
        </div>
        <div class="table-overflow">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Bài tập
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.deadline)
                        </th>
                        <th>
                            Bài học
                        </th>
                        <th>
                            Tác giả
                        </th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row-listcourses-admin">
                            <td class="counterCell">
                            </td>
                            <td>
                                Bài tập @Html.DisplayFor(modelItem => item.exerciseId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.deadline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lesson.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppUser.UserName)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.exerciseId"><i class="far fa-edit"></i></a> |
                                <a asp-action="DeleteExercise" asp-route-id="@item.exerciseId"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </section>
</main>
@*class="text-danger" onclick="return confirm('Bạn chắn chắn xóa chứ?')*@
<script>
    const active_lienhe = document.querySelector('#active--baitap')
    active_lienhe.classList.add('active--css')
    /*document.querySelector('#active--khoahoc').classList.remove('active--css')*/
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
